body {
  padding-top: 80px;
  padding-bottom: 20px;
}

img{
  width: 100%;
 
}

img.logo{
  box-sizing:content-box;
  width: 130px;
  margin: 5px;
}




article{
  padding: 1em; 
}

footer{
  text-align: center;
}


/*
@media screen and (min-width: 700px){
  div.list-group{
    text-align: center;
  }
  a.list-group-item{
    display: inline-block;
    width: 30%;
  }



}
*/

