/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End reset */




.container{
	width:100vw;
	
	background:url("images/bg02.jpg") repeat;
      
}

header{
  background:url("images/bg02.jpg") repeat;
  padding: 10px;
  overflow:hidden;
  height:10%;
  
  
}

#logo {
  width:40%;
  margin-left: 10px;
  display: inline-block;
  

}

#logo img{
  width: 100%;
 
}

.menu{
  box-sizing: border-box;
  float: right;
  margin-right: 10px;
  width: 19%;
  background:url("images/bg02.jpg") repeat;
  border-radius: 1em;
}

.navMenu{
  box-sizing: border-box;
  width: 100%;
  
  
  
}

.navMenu img{
  width: 100%;
  
}

#dropdown{
  display: none;
}

section{
  background:url("images/bg03.jpg") repeat;
  clear: both;
  box-sizing: border-box;
  
  background-color: beige;
  padding: 5px 0 10px 0;
  
}
article.carrusell{
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  background:url("images/bg04.png") repeat;
  text-align: center;

  /*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);*/
}

.carrusell img{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

}

article.news{
  box-sizing: border-box;
  width: 90%;
  background:url("images/bg04.png") repeat;
  text-align: justify;
  margin: 20px auto;
  padding: 10px;
}

article.news p{
  background:url("images/bg02.jpg") repeat;
  padding: 10px;
  color: grey;
}

footer{
  background:url("images/linem.jpg") repeat;
  
  text-align:center;
}

footer a{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: grey;
  

  padding: 10px;
}

hr{
  margin: 0 auto;
  width: 70%;
  
}

#copyright{
  
  padding: 10px;
  background:url("images/bg03.jpg") repeat;
  
}

  @media screen and (min-width: 732px){
   
    #logo {
      width:25vw;
      float: left;
    }
    .menu{  
      width: 65vw;
    }
    .navMenu{
      display:none;
    }
    #dropdown {
      float: right;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      padding: 10px;
      margin: auto 10px;
      
    }
    #dropdown li{
      float: right;
      width: 10vw;
      padding:3%;
      margin: 10px;
      background:url("images/bg02.jpg") repeat;
      border-radius:1em;
      
      -moz-box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,1);
      display: inline-block;
      text-align: center;
    }
    #dropdown a{
      text-decoration: none;
      color: beige;
    }

    section aside{
      overflow: hidden;
      width: 90%;
      margin: auto;
    }

    article.news{
      width: 45%;
      float: left;
      margin: 0 2%;
    }

    hr{
      display: none;
    }

    footer ul.last{
      overflow: hidden;
      
      width: 90%;
      margin: auto;

    }

    footer ul.last li{
      float: left;
      width: 45%;
       margin: 10px 2%;
      border-radius: 0.2em;
      -moz-box-shadow:  inset 0px 0px 5px 0px white;
      box-shadow: inset  0px 0px 5px 0px white;
    }
    footer ul.last li a{
      -moz-box-shadow:   0px 0px 10px 0px white;
      box-shadow:   0px 0px 10px 0px white;
      border-radius: 0.2em;
    }

    #copyright{
      clear: both;
    }

    footer{
      clear: both;
    }
  }

  @media screen and (min-width: 1000px){

    article.carrusell{
      width: 45%;
      float: left;
      margin: 0 2%;
    }

    article.news{
      width: 45%;
      float: left;
      margin: 0 2%;
    }

    hr{
      display: none;
    }

    footer ul.last{
      overflow: hidden;
      
      width: 90%;
      margin: auto;

    }

    footer ul.last li{
      float: left;
      width: 45%;
       margin: 10px 2%;
      border-radius: 0.2em;
      -moz-box-shadow:  inset 0px 0px 5px 0px white;
      box-shadow: inset  0px 0px 5px 0px white;
    }
    footer ul.last li a{
      -moz-box-shadow:   0px 0px 10px 0px white;
      box-shadow:   0px 0px 10px 0px white;
      border-radius: 0.2em;
    }

    #copyright{
      clear: both;
    }

    footer{
      clear: both;
    }

  }