/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End reset */




.container{  
  background:url("images/bg02.jpg") repeat;
  box-sizing: border-box;
}


header{
  display: flex;
  background:url("images/bg02.jpg") repeat;
  overflow:hidden;   
}
.header-container{
  display:flex;
  flex-wrap: wrap;
 }
.logo{
  text-align:center;
  background-color:white;
  width:100vw;
}
.logo img{
  width:50%;
}
.menu{
  display:flex;  
  background:url("images/bg02.jpg") repeat;
  border-radius: 1em;
  justify-content: flex-end;
}
.navMenu img{
  width:60%;
}
.dropdown{ 
  position: absolute;
  display: none;
}


section{
  font-size: 2.5em;
  display: flex;
  flex-wrap: wrap; 
  background:url("images/bg03.jpg") repeat;
  background-color: beige;
}
article.carrusell{
  background:url("images/bg04.png") repeat;
  text-align: center;
  /*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);*/
}
.carrusell img{
  width:100%;
}
article.news{
  background:url("images/bg04.png") repeat;
  margin: 20px;
  padding: 10px;
  text-align: justify;
}
article.news p{
  padding: 15px;
  background:url("images/bg02.jpg") repeat;
  color: grey;
}


footer{  
  display: flex;
  background:url("images/linem.jpg") repeat;
  text-align:center;  
}
.footer-container{
  display:flex;
  width:100vw;
  flex-direction:column;
  font-size: 2.5em;
}
.last{
  width:100%;
}
.last a{  
  text-decoration: none;
  color: grey;
}
.last li{
  padding:20px;
}
hr{
  margin:0 auto;
  width:70%;
}
.copyright{
  padding:20px;
  background:url("images/bg03.jpg") repeat;
  font-size: 0.5em;
}



  @media screen and (min-width: 990px){
    
    .header-container{
      display: flex;
    }

    .logo{
      width:25vw;
    }
    .menu{  
      display:flex;
      width: 65vw;
      flex-wrap: wrap;
    }
    .navMenu{
      display:none;
    }
    .dropdown{
      display: inline-flex;
      flex-basis:30%;

    }
    .dropdown li{      
      background:url("images/bg02.jpg") repeat;
      border-radius:1em;
      -moz-box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,1);
      
  
    }
    .dropdown a{
      text-decoration: none;
      color: beige;
    }
    section aside{
      overflow: hidden;
      width: 90%;
      margin: auto;
    }
    article.news{
      width: 45%;
      margin: 0 2%;
      height:10%;
    }
    hr{
      display: none;
    }
    footer ul.last{
      overflow: hidden;
      padding: 10px 0px;
      width: 90%;
      margin: auto;
    }
    footer ul.last li{
       width: 45%;
       margin: 10px 2%;
      
    }
    .copyright{
      padding: 15px 0px;
     
    }
    
  }

  @media screen and (min-width: 1440px){

    article.carrusell{
      width: 45%;
      float: left;
      margin: 0 2%;
    }
    article.news{
      width: 45%;
      float: left;
      margin: 0 2%;
    }
    hr{
      display: none;
    }
    footer ul.last{
      overflow: hidden;
      width: 90%;
      margin: auto;
    }
    footer ul.last li{
      float: left;
      width: 20%;
       margin: 10px 2%;
      border-radius: 0.2em;
      -moz-box-shadow:  inset 0px 0px 5px 0px white;
      box-shadow: inset  0px 0px 5px 0px white;
    }
    footer ul.last li a{
      -moz-box-shadow:   0px 0px 10px 0px white;
      box-shadow:   0px 0px 10px 0px white;
      border-radius: 0.2em;
    }
    footer{
      clear: both;
    }
  }